.topsixContainer {
    display: grid;
    grid-template-rows: auto;
    font-size: .8rem;
    border-radius: 1rem;
    padding-top: 1rem;
    box-shadow: 5px 5px #2b2b2b;
}

.BTC_Container {
    border: 1px white solid;
    border-radius: 1rem;
    padding: .5rem;
    margin: .3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.ETH_Container {
    border: 1px white solid;
    border-radius: 1rem;
    padding: .5rem;
    margin: .3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.ADA_Container {
    border: 1px white solid;
    border-radius: 1rem;
    padding: .5rem;
    margin: .3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.MANA_Container {
    border: 1px white solid;
    border-radius: 1rem;
    padding: .5rem;
    margin: .3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.LINK_Container {
    border: 1px white solid;
    border-radius: 1rem;
    padding: .5rem;
    margin: .3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.NTVRK_Container {
    border: 1px white solid;
    border-radius: 1rem;
    padding: .5rem;
    margin: .3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.NTVRK_Container img {
    width: 32px;
    height: 32px;
}

/* ========== MEDIA QUERY (MEDIUM DEVICES) =========== */
@media screen and (max-width: 1024px) {
    .topsixContainer {
        font-size: .8rem; 
    }
    
    .btc_right {
        margin-left: 6rem;
    }
    .eth_right {
        margin-left: 5.5rem;
    }
    .ada_right {
        margin-left: 5.4rem;
    }
    .link_right {
        margin-left: 6.5rem;
    }
    .mana_right {
        margin-left: 4rem;
    }
    .netvrk_right {
        margin-left: 4rem;
    }
}

/* ========== MEDIA QUERY (SMALL DEVICES) =========== */
@media screen and (max-width: 420px) {
    .topsixContainer {
        font-size: .7rem; 
    }
    
    .btc_right {
        margin-left: 2.3rem;
    }
    .eth_right {
        margin-left: 1.7rem;
    }
    .ada_right {
        margin-left: 1.5rem;
    }
    .link_right {
        margin-left: 2.6rem;
    }
    .mana_right {
        margin-left: .8rem;
    }
    .netvrk_right {
        margin-left: .7rem;
    }
}